body {
  margin: 0;
  padding: 0;
}
#app {
  overflow: hidden;
  position: relative;
  margin: auto;
  border: 1px solid #ddd;
}
.block {
  position: absolute;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  color: #333;
  text-align: center;
  line-height: 60px;
}
.block.gold {
  background-color: gold;
}
.block.soil {
  background-color: brown;
}
.block.water {
  background-color: royalblue;
}
.block.wood {
  background-color: greenyellow;
}
.block.fire {
  background-color: red;
}
