:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#app {
  position: relative;
  overflow: hidden;
  min-width: 360px;
  max-width: 720px;
  height: 90%;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  background-image: url(../images/texture.png);
  background-repeat: repeat;
  background-color: #fff;
  transition: background-color 0.2s;
}

.block {
  position: absolute;
  background-color: red;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.block.fire {
  background-color: #f20c00;
}

.block.water {
  background-color: #70f3ff;
}

.block.gold {
  background-color: #f26b1f;
}

.block.soil {
  background-color: #d6a01d;
}

.block.wood {
  background-color: #0c8918;
}

.boundary {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  box-shadow: 0 0 3px rgba(100, 100, 100, 0.2);
  z-index: 1;
}

.bullets {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
}

.guideline {
  position: absolute;
  display: none;
  width: 1px;
  height: 200%;
  border: 1px dashed #ddd;
  transform: rotate(0);
}
.fort {
  position: absolute;
  bottom: 0;
  left: calc(50% - 10px);
  width: 20px;
  height: 60px;
  border-radius: 8px;
  background-color: tomato;
  transform-origin: bottom center;
}
